/* Estilo geral do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo do cabeçalho e rodapé */
header, footer {
    width: 100%;
    padding: 10px 0;
    background-color: #2b2d42;
    color: white;
    text-align: center;
}

header .subtitle {
    margin: 5px 0 0;
    font-size: 16px;
    color: #f0f0f0;
}

footer {
    margin-top: auto;
}

/* Estilo principal */
main {
    width: 100%;
    max-width: 1300px; /* Ajuste conforme necessário para telas maiores */
    margin: 0 auto;
    padding: 20px;
    background-color: #8d99ae;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    flex-grow: 1; /* Permite que o main cresça para ocupar o espaço disponível */
}

.text-container {
    width: 100%;
    margin-bottom: 20px;
}

/* Estilo da área de texto e campo de chave */
#inputText, #key {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    /* margin-bottom: 10px; Espaçamento entre campos */
}

#inputText {
    height: 40vh;
    resize: none;
    margin-bottom: 10px;
}

/* Estilo dos botões */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    flex: 1;
    padding: 10px;
    margin: 5px;
    /* cursor: pointer; */
    font-size: 16px;
    color: white;
    background-color: #13315c;
    border: none;
    border-radius: 10px;
}

button:hover {
    background-color: #134074;
}

/* Mensagem de cópia */
#copyMessage {
    color: #333;
    font-size: 14px;
    display: none;
    margin-top: 10px;
    text-align: center;
}

/* Mensagens de erro */
.error-message {
    color: red;
    font-size: 18px;
    display: none;
    margin-top: 10px;
    text-align: center;
    width: 100%;
}

/* Ajustes para telas médias (tablets) */
@media (max-width: 768px) {
    main {
        padding: 15px;
    }

    #inputText {
        height: 30vh; /* Ajusta a altura do input */
    }

    button {
        font-size: 14px;
        padding: 8px;
    }
}

/* Ajustes para telas pequenas (smartphones) */
@media (max-width: 480px) {
    main {
        padding: 10px;
    }

    #inputText {
        height: 25vh; /* Ajusta a altura do input */
    }

    button {
        font-size: 12px;
        padding: 6px;
    }

    header .subtitle {
        font-size: 14px;
    }
}



